

//Slide animation bounce on IOS fix
/* .carousel { 
    .carousel-inner > .carousel-item {
       disables white flash
       -webkit-transition: -webkit-transform .5s ease-in-out !important;
       -o-transition: -o-transform .5s ease-in-out !important;
       transition: transform .5s ease-in-out !important;
    }
} */


.carousel { 
    .carousel-inner > .carousel-item {
        -webkit-transition: -webkit-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
        position: absolute;
    }
}


// Homepage Carousel
.carousel {
    .carousel-inner { 
        max-height: 50vh;
        height: 50vh;
        z-index: 1;
    }
    .feature-caption {
        background: transparent;
        color: white;
        z-index: -1;
        .feature-caption-text {
            padding: 2rem 1rem 1rem;
            /* text-shadow: 2px 2px 13px #e9ecef; */
        }
    }
    
}

#carousel-homepage {
    .carousel-item {
        height: 50vh;
    }
}

// Media Queries
//----------------------------------------------------------
@include media-breakpoint-up(xs) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}



@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {

    .carousel {
        .carousel-control-prev {
            left: 56px;
        }
        .carousel-control-next {
            right: 56px;
        }
    }

}

@include media-breakpoint-down(md) {
    .carousel {
        .carousel-control-prev,.carousel-control-next {
            display: none;
        }
    }
}

@include media-breakpoint-down(sm) {
    #carousel-homepage {
        .carousel-item {
            height: 580px;
        }
    }
    .carousel {
        .carousel-caption {
            height: 63px;
            .container {
                height: 100%;
            }
            .wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
            .caption-header {
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 0;
            }
            .description {
                display: none;
            }
        }
    }
}

@include media-breakpoint-down(xs) {}





// Target iPad
@media (min-width: 768px) and (max-width: 1024px) { 

    
// Carousel fade transition (working with Bootstrap 4 Alpha 6)
    #carousel-homepage {
        display: none !important;
    }
    #carousel-homepage-ipad {
        display: block !important;
    }
    .carousel-fade {
        .carousel-inner > .carousel-item {
            display: block;
            position: absolute;
            opacity: 0;
            transition: opacity 1.15s ease-in-out;
            -webkit-transition: opacity 1.15s ease-in-out !important;

            &.active {
                opacity: 1;
            }
        }
    }

}