// Footer styles
footer {
  background-color: $srt-ft-bg;
  border-top: 1px solid $srt-ft-bg;
  color: $srt-nav;

  .navbar-brand {
    margin: -7px 0 0;
    color: $srt-nav;
  }

  .logo {
    background: url(img/no-text-logo.png) no-repeat center;
    background-size: contain;
    height: 40px;
  }

  .widget-title {
    font-weight: 900;
    text-transform: uppercase;
  }

  .footer-links {
    padding-left: 0px;
    text-align: left;
  }

  .footer-list {
    font-weight: 700;
    padding-bottom: 0.1rem;

    a {
      color: $srt-nav;
      text-decoration: none !important;

      &:hover {
        color: $srt-pink;
      }
    }
  }

  .mailchimp {
    float: right;
    margin: 0;

    input#email-1 {
      height: 40px;
      width: 375px;
      border: 2px solid #cf2054;
      border-radius: 10px;
      background-color: $srt-ft-bg;
    }

    .mc-btn {
      height: 40px;
      position: absolute;
      bottom: 0px;
      border: 2px solid $srt-pink;
      right: 15px;
      border-radius: 10px;
      background-color: #3a3134;
      color: white;
    }
  }

  .mc-input-text {
    margin: 0;
  }

  .icons {
    margin: 0rem 0 0 0;

    li {
      display: inline-block;
      margin: 0.5rem 0.5rem 0.5rem 0rem;

      a {
        color: $srt-nav;

        &:hover {
          color: $srt-pink;
        }
      }
    }
  }

  .srt-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 54px;
    background-color: black;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;

    &:hover, &:active, &:focus {
      outline: none;
      color: $srt-pink;
    }
  }
}

// Media Queries
//----------------------------------------------------------

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
}
