// Base-theme overrides.
@import "css/font-awesome.min.css"; 
@import "css/ionicons.min.css"; 

// Base-theme overrides.
@import "custom-mixins";
@import "buttons";
@import "images";
@import "navbar";
@import "code";
@import "homepage";
@import "footer";
@import "styleguide";
@import "fonts";
@import "carousels";
@import "main-landing";


body { 
  padding-top:0px;
  // Optimize webfont legibility
  text-rendering: optimizeLegibility;
  //speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: $srt-bg;
  transition: 0.5s all;
  font-size: 1rem;
}


// Text elements
//----------------------------------------------------------

p           { margin: 0 0 1.2em;letter-spacing: 0.02em;}
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus, 
a:hover     {
  @include transition(all .2s ease-in-out);
}
a           {text-decoration: none!important;}


//*************************
// Header Image 
//*************************

.header-image-wrapper {
  display: flex;
  width: 100%;
  height: 425px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 0px 45px 5px rgba(153,147,147,0.9);
  -moz-box-shadow: 0px 0px 45px 5px rgba(153,147,147,0.9);
  box-shadow: 0px 0px 45px 5px rgba(153,147,147,0.9);
}

.header-image-wrapper .header-image {
  width: 100%;
  height: 100%;
  animation: move 20s ease;
  /* Add infinite to loop. */
  -ms-animation: move 20s ease;
  -webkit-animation: move 20s ease;
  -moz-animation: move 20s ease;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  animation-delay: 500ms;
}

@keyframes move {
  0% {
    -webkit-transform-origin: bottom right;
    -moz-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
    transform-origin: bottom right;
    transform: scale(1.0);
    -ms-transform: scale(1.0);
    /* IE 9 */
    
    -webkit-transform: scale(1.0);
    /* Safari and Chrome */
    
    -moz-transform: scale(1.0);
    /* Firefox */
  }
  50% {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    /* IE 9 */
    
    -webkit-transform: scale(1.1);
    /* Safari and Chrome */
    
    -moz-transform: scale(1.1);
    /* Firefox */
  }
  100% {
      transform: scale(1.0);
      -ms-transform: scale(1.0);
      /* IE 9 */
      
      -webkit-transform: scale(1.0);
      /* Safari and Chrome */
      
      -moz-transform: scale(1.0);
      /* Firefox */
  }
}
.feature-caption {
  z-index: 1;
  color: $srt-nav;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  .feature-caption-text {
      padding: 2rem 0rem 1rem;
      /* text-shadow: 2px 2px 13px #e9ecef; */
  }
  .btn-secondary {
      background-color: transparent;
      &:hover {
          background-color: $srt-nav;
      }
  }
}

.page-title {
  color: $srt-nav;
  font-family: 'Raleway';
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0;
}
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: 0;
} 
.embed-container iframe,
.embed-container object,
.embed-container embed { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.woocommerce .content {
  margin: 1rem 0;
  ul.products li.product a img,
  .woocommerce-product-gallery__image,
  div.product div.images img,
  div.product div.images .flex-control-thumbs li img {
    -webkit-box-shadow: 0px 20px 20px -15px rgba(153,147,147,0.9);
    -moz-box-shadow: 0px 20px 20px -15px rgba(153,147,147,0.9);
    box-shadow: 0px 20px 20px -15px rgba(153,147,147,0.9);  
  }
}

.to-down {
  display: block;
  font-size: 26px;
  height: 61px;
  width: 61px;
  line-height: 2.6;
  margin: auto;
  text-align: center;
  background-color: $srt-nav;
  border-radius: 100%;
  border: 2px solid #21030c4a;
  z-index: 11;
  transition: all .3s;
  opacity: 0.6;
  .fa, a {
    font-size: 2rem;
    color: white;
    &:hover, &:focus {
      color: $srt-pink;
      outline: none;
    }
  }
}
.to-next {
  margin: auto;
  position: absolute;
}

.back-to-top {
  display: block;
  font-size: 24px;
  height: 61px;
  left: 0;
  line-height: 2.6;
  margin: -100px auto 0 auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: 61px;
  background-color: $srt-nav;
  border-radius: 100%;
  border: 2px solid #21030c4a;
  z-index: 11;
  transition: all .3s;
  .fa, a {
    font-size: 2rem;
    color: white;
    &:hover, &:focus {
      color: $srt-pink;
      outline: none;
    }
  }
}
// Images
.alignleft {display: inline;margin-right: 1.625em;}
.alignright {display: inline;margin-left: 1.625em;}
img.aligncenter, .aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {max-width: 100%; height: auto;}


//******************
// Standard List/ Our Tents Images
//******************
a.list {
  width: 100%;
}
.standard-list  {
  height: 200px;
  -webkit-box-shadow: 0px 0px 45px 5px rgba(153,147,147,0.9);
  -moz-box-shadow: 0px 0px 45px 5px rgba(153,147,147,0.9);
  box-shadow: 0px 0px 45px 5px rgba(153,147,147,0.9);
  &:hover {
    -webkit-box-shadow: 0px 0px 45px 5px rgba(247,2,126,0.51);
    -moz-box-shadow: 0px 0px 45px 5px rgba(247,2,126,0.51);
    box-shadow: 0px 0px 45px 5px rgba(247,2,126,0.51);
  }
}
.standard-list-title {
  opacity: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.75s;
  text-transform: uppercase;
}
.standard-list-title:hover {
  opacity: 0.8;
  transition: all 0.75s;
  background-color: $srt-nav;
}

// Woocommerce

.woocommerce {
  input[type=text],
  .woocommerce-input-wrapper {
    width: 100%;
    min-height: 50px;
  }
  input[type=text].half {
    float: left;
    width: 50%;
  }
  .select2-container .select2-selection--single,
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 100%;
    min-height: 50px;
    line-height: 50px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 10px 8px 0 8px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    width: 50px;
  }
  form .form-row input.input-text, form .form-row textarea {
    min-height: 50px;
    padding-left: 10px;
  }
  form .form-row select {
    height: 25px;
  }
  div.product p.price {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  div.product div.images {
    margin-bottom: 3em;
  }
  section.related.products {
    display: table;
    h2 {
      margin-bottom: 2.5rem;
    }
    ul.products li.product {
      margin: 5px 5px 5px 2px;
    }
  }
  .content h3 {
    margin-bottom: 10px;
  }
  .content h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  div.product-addon {
    margin: 0;
  }
  #respond input#submit,
  a.button,
  button.button,
  input.button,
  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt {
    background-color: #f3306a;
    color: white;
    &:hover, &:active:hover, &:focus, &:focus:active {
      outline: none;
      background-color: $srt-nav;
      color: white;
    }
  }
  .woocommerce-info::before {
    color: #f3306a;
  }
  .woocommerce-error,
  .woocommerce-info,
  .woocommerce-message {
    border-top-color: #f3306a;
  }
 
}
// CF7

.wpcf7 {
  input.wpcf7-form-control.wpcf7-text,
  input.wpcf7-form-control.wpcf7-date,
  select {
    height: 50px;
    width: 100%;
    min-width: 333px;
  }
  input.wpcf7-form-control.wpcf7-submit {
    background-color: #f3306a;
    color: white;
    width: 333px;
    height: 50px;
    font-size: 1.5rem;
    border: none;
  }
  input, select, optgroup, textarea {
    border: 1px solid $srt-pink;
  }
}

// Main Landing

.call-to-action--main-landing {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}
.cta--main-landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}

//Blog

.blog-img {
  min-height: 150px;
  width: auto;
}
// Lists
//----------------------------------------------------------

aside.unstyled {ul {margin-left:0;list-style:none}}


// Side Menu
//----------------------------------------------------------

.sidebar {
    .nav>li {
      position: static;
      >a {
        position: static;
        padding: 10px 8px;
      }
    }
    .current-menu-item .dropdown-menu, 
    .current-menu-ancestor .dropdown-menu {
      display: block;
    }
    .dropdown-menu, .sub-menu {
      position: static;
      height: auto;
      width: 100%;
      float: left;
      border:0;
      padding:0;
      margin:0 0 6px 0;
      border-radius: 0;
      //li.current-menu-item >a {}          
      >li {list-style: none;
      }
    } 

} // /.sidebar




// Media Queries
//----------------------------------------------------------

@include media-breakpoint-up(sm) { }

@include media-breakpoint-down(lg) { 

  .header-image-wrapper {
    height: 350px;
  }

}
@include media-breakpoint-down(md) {
  .header-image-wrapper {
    height: 300px;
  }
}
@include media-breakpoint-up(xl) { }


